.editorBox-enter {
	transform: translate3d(0, -100%, 0);
}

.editorBox-enter.editorBox-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 500ms;
}

.editorBox-leave {
  transform: translate3d(0, 0, 0);
}

.editorBox-leave.editorBox-leave-active {
   transform: translate3d(0, -100%, 0);
    transition: all 300ms;
}



